{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

  <div class="menu">
      {% if user.is_authenticated %}
       <ul>
           <li><a href="/"> Home </a></li>
       </ul>
    <form method="post" action="/search/">
    {% csrf_token %}
    <div class="search-form">
            <input type="text" name="srh" class="form-control" placeholder="Enter the log source">
            <button type="submit" class="btn btn-danger">Search</button>
    </div>
    </form><br><br>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      {% endif %}
  </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
            {% endblock %}
        </div>
      </div>
    </main>
</body>
</html>
